<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- header -->
	<hr>
	<a href="login.html">LOGIN</a> |
	<a href="register.html">SIGN UP</a> |
	<a href="business.html">MY BUSINESS</a> |
	<a href="contactus.html">CONTACT US</a> |
	<a href="about.html">ABOUT</a> |
	<hr>
	<!-- body -->
	<h1>My APP</h1>
	<h2>THIS MY HOME PAGE</h2>
	Lorem Ipsum is simply dummy text of the printing and typesetting
	industry. Lorem Ipsum has been the industry's standard dummy text ever
	since the 1500s, when an unknown printer took a galley of type and
	scrambled it to make a type specimen book. It has survived not only
	five centuries, but also the leap into electronic typesetting,
	remaining essentially unchanged. It was popularised in the 1960s with
	the release of Letraset sheets containing Lorem Ipsum passages, and
	more recently with desktop publishing software like Aldus PageMaker
	including versions of Lorem Ipsum.


	<!-- footer -->
	<hr>
	<h3>footer her</h3>
	<h6>This was a first try</h6>
	<h6>2019 (c) Ely Mbaye</h6>

</body>
</html>